[run]
source = ssqueezepy
parallel = True
omit =
    ssqueezepy/experimental.py
	ssqueezepy/algos.py
	ssqueezepy/utils/gpu_utils.py
	ssqueezepy/utils/stft_utils.py
	ssqueezepy/utils/backend.py

[report]
show_missing = True
omit =
    ssqueezepy/experimental.py
	ssqueezepy/algos.py
	ssqueezepy/utils/gpu_utils.py
	ssqueezepy/utils/stft_utils.py
	ssqueezepy/utils/backend.py
precision = 3
